@import "lib";
$ff: 'Microsoft Yahei';
body {
  background: url(i/body.jpg) repeat 0 0;
}
header {
  height: 50px;
  .logo {
    height: 50px;
    float: left;
    strong {
      height: 50px;
      font-size: 24px;
      font-family: $ff;
      color: #f60;
      display: block;
      line-height: 50px;
    }
  }
  .qq{
    float: right;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #333;
  }
}
.footer {
  background: #f7f7f7;
  height: 40px;
  footer {
    padding-top: 10px;
    p {
      float: right;
      height: 20px;
      line-height: 20px;
      color: #727272;
      a {
        color: #727272;
      }
    }
  }
}


nav {
  height: 40px;
  background: #3e3e3e;
  ul {
    background: #3e3e3e;
    li {
      float: left;
      width: 70px;
      height: 40px;
      margin-right: 10px;
      a {
        float: left;
        width: 70px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        font-size:16px;
        text-align: center;
      }
      a:hover {
        background: #000;
        text-decoration: none;
      }
    }
  }
}
.section {
  background: #fbfbfb;
  border-radius: 0 0 10px 10px;
}
.article {
  float: left;
  width: 720px;
  background: #fff;
  border-radius: 0 0 0 10px;
}
.aside {
  float: right;
  width: 270px;
}
.i-list {
  padding: 10px;
  dl {
    margin-top: 10px;
    dd {
      float: left;
      width: 50px;
      height: 50px;
      border: 1px solid #ccc;
      border-radius: 6px;
      img {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 6px;
      }
    }
    dt {
      margin-left: 66px;
      h3 {
        height: 27px;
        line-height: 27px;
        font-size: 16px;
        color: #333;
        a {
          font-size: 16px;
          color: #333;
          font-family: $ff;
        }
      }
      .des {
        height: 22px;
        margin-top: 3px;
        .tag {
          background-color: #f60;
          float: left;
          height: 20px;
          padding: 0 5px;
          color: #fff;
          font-size: 14px;
          line-height: 20px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          font-family: $ff;
        }
        span {
          float: left;
          height: 20px;
          padding-left: 10px;
          line-height: 20px;
          font-family: $ff;
        }
      }
    }
  }
}
.shortcut {
  padding-top: 10px;
  h3 {
    height: 33px;
    line-height: 33px;
    font-size: 14px;
    font-family: $ff;
    color: #333;
  }
  ul {
    margin-right: 5px;
    li {
      line-height: 27px;
      height: 27px;
      padding-left: 5px;
      a {
        font-size: 14px;
        font-family: $ff;
        display: block;
      }
      &:hover {
        background: #f1f1f1;
        a {
          text-decoration: none;
        }
      }
    }
  }
}

.keywords {
  h3 {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: $ff;
  }
  ul {
    margin-top: 10px;
    li {
      width: 226px;
      padding: 0 5px;
      float: left;
      margin-right: 20px;
      .k-img {
        display: block;
        width: 226px;
        height: 127px;
        img {
          display: block;
          width: 226px;
        }
      }
      h2 {
        height: 25px;
        line-height: 25px;
      }
      h5 {
        border-top: 1px solid #f8f8f8;
        height: 25px;
        line-height: 25px;
      }
      p {
        line-height: 25px;
        height: 50px;
        overflow: hidden;
      }
      &:hover{
        box-shadow:0 0 5px #ccc;
      }
    }
  }

}
