

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>新航路个人品牌_北京新航路科技有限公司@v</title>
<meta name="description" content="北京新航路科技有限公司@v展示真实独特的自己，专属定制的机会将垂青于您！内部推荐、人才商情、云渠道、人才库、云搜索五大功能" />
<meta name="keywords" content="北京新航路科技有限公司@v展示真实独特的自己，专属定制的机会将垂青于您！内部推荐、人才商情、云渠道、人才库、云搜索五大功能" />
<script type="text/javascript" src="//xhanglu.cn/assets/compiled/f590b4/jquery.min.js"></script>
<script type="text/javascript" src="//xhanglu.cn/assets/compiled/f590b4/jquery.srfl.min.js"></script>
<script type="text/javascript" src="//xhanglu.cn/assets/compiled/6699fc/src2.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//xhanglu.cn/assets/compiled/46209b/jquery.pjax.js"></script>
<script src="/assets/js/sea.js"></script>
<script>
	var VersionTS = location.href.match(/local|moon/)?"":"20140521";
	seajs.config({
	  alias: {
	  },
	  map: [
	    [ /^(.*\/assets\/.*\.(?:css|js))(?:.*)$/i, '$1?_='+VersionTS ]
	  ]
	});
</script><link rel="stylesheet" href="/assets/css/eshow/eshow.css"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Content-Language" content="zh_cn" />
<meta name="Csrf-token" content="fd2e8aafa03ee8a3b3d13056cc2262d9" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="http://www.xhanglu.com/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="//xhanglu.cn/assets/compiled/6699fc/src2.2/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="//xhanglu.cn/assets/compiled/6699fc/src2.2/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" type="text/css" href="//xhanglu.cn/assets/compiled/41b098/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="//xhanglu.cn/assets/compiled/2d1478/base.css" />
<link rel="stylesheet" type="text/css" href="//xhanglu.cn/assets/compiled/d674ed/style.css" />
<!--[if lt IE 9]>
<script src="/assets/js/html5.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="/assets/css/font-awesome/css/font-awesome-ie7.min.css" />
<![endif]-->
</head>

<body class="c-end">
<div class="c-topbarbg">
    <div class="c-topbar clearfix">
        <h1 class="pull-left" style="text-indent: 0;"><a href="/" title="新航路" style="font-size:16px;color:#fff;padding-top:5px;">新航路个人品牌</a>新航路http://www.xhagnlu.com</h1>
        <p class="position pull-left">塑造个人职业品牌</p>
        <ul class="nav">
            <li class=""><a href="/">首页</a></li>
            <li class=""><a href="javascript:;">发现</a></li>
        </ul>
                <div class="c-user pull-right">
                        <!-- <a href="/user/login?redirect=/" class="link">个人</a> -->
            <a href="javascript:;" class="link">个人</a>
            <span class="pipe">|</span>
            <a href="javascript:;" class="link">企业</a>
        </div>
            </div>
</div>    <div class="main-outer-wrap">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scale=1.0" />
<div class="main-banner-con-v3">
	<div class="main-banner-con-v3">
		<div class="m960 clearfix">
			<div class="register-con">
				<div class="reg-logo" style="background: none">新航路个人品牌</div>
				<p class="pipai-content">塑造自己的品牌，让机会找上门来</p>
				<div class="reg-content">
					<div class="login_register_v3 J_loginRegister" ng-controller="LoginRegister">
	<h4 class="hd">
		<span class="{{curShow=='register'?'current':''}}" ng-click="switchView('register')">个人注册<b></b></span><em></em>
		<span class="{{curShow=='login'?'current':''}}" ng-click="switchView('login')">个人登录<b></b></span>
	</h4>
	<div class="bd"><!-- bdb -->
		<div class="{{curShow!='register'?'hide':''}}">
			<div class="user_formlist_v3">
	<form action="/user/register" method="post" id="RegisterForm" name="RegisterForm">
		<ul class="user_formlist_main">
			<li>
				<input type="text" placeholder="请输入邮箱地址" class="input-inp" value="" id="RegisterForm_email" name="RegisterForm[email]" datatype="e" nullmsg="请输入邮箱地址" errormsg="请输入邮箱地址，如：example@mail.com">
			</li>
			<li>
				<input type="password" placeholder="请输入密码" class="input-inp" value="" id="RegisterForm_password" name="RegisterForm[password]" datatype="*6-80" nullmsg="请输入密码" errormsg="请输入6位以上密码">
			</li>
			<li>
				<input type="password" placeholder="请再次输入密码" class="input-inp" value="" id="RegisterForm_password_confirm" name="RegisterForm[password_confirm]" datatype="*6-80">
			</li>
			<li>
				<input type="text" placeholder="请输入邀请码" class="input-inp inputw" value="" id="RegisterForm_invite_code" name="RegisterForm[invite_code]"/><a href="#" class="get-yqm J_get_codebtn">如何获得邀请码？</a>
			</li>
			<li>
				<div class="agree">
					<input type="hidden" name="RegisterForm[backurl]" id="RegisterForm_backurl" value="/" class="required" />
					<input type="checkbox" class="input-ck" id="RegisterForm_accept" name="RegisterForm[accept]" checked="checked" />我已阅读并同意《<a href="javascript:;" target="_blank">用户协议</a>》
				</div>
			</li>
			<li class="clearfix">
				<input type="submit" class="input-btn pull-left J_registerSubmit" value="注册">
				<span class="pull-right">已有账号？<a href="javascript:;" ng-click="switchView('login')">登录</a></span>
			</li>
		</ul>
	</form>
</div>
<script>
    seajs.use('loginRegister',function(app){
        app.registerForm();
    })
</script>		</div>
		<div class="{{curShow!='login'?'hide':''}}">
			<div class="user_formlist_v3">
	<form action="/user/login" method="post" class="J_userLoginForm" id="LoginForm" name="LoginForm">
		<ul class="user_formlist_main">
			<li>
				<input type="text" id="email" name="LoginForm[email]" class="input-inp" placeholder="请输入邮箱地址" />
			</li>
			<li>
				<input type="password" id="password" name="LoginForm[password]" class="input-inp" placeholder="请输入密码" />
			</li>
			<li>
				<div class="agree clearfix">
					<a href="javascript:;" class="pull-right">忘记密码？</a>
					<input type="checkbox" class="input-ck" id="remeber" name="LoginForm[remember]" checked="checked" />自动登录
				</div>
			</li>
			<li class="clearfix">
				<input type="submit" class="input-btn pull-left J_loginSubmit" value="登录">
				<span class="pull-right">还没有帐号？<a href="javascript:;" class="J_can_regisiter" ng-click="switchView('register')">注册</a></span>
			</li>
		</ul>
	</form>
</div>
<script>
	seajs.use('loginRegister',function(app){
		app.loginForm();
	})
</script>		</div>
	</div>
	<div class="ft hide">
		<div class="other_account clearfix">
			社交帐号登录：<a href="#" class="qq" title="QQ登录"></a><a href="/oauth/?network=weibo" onclick="$.open_oauth_window(this); return false;" class="weibo" title="weibo登录"></a><a href="/oauth/?network=linkedin" onclick="$.open_oauth_window(this); return false;" class="linkedin" title="linkedin登录"></a>
		</div>
	</div>
</div>
<script>
	seajs.use('loginRegister',function(app){
		app.init('.J_loginRegister');
	})
</script>				</div>
			</div>
		</div>
	</div>
</div>
<div class="main-bg1-v3">
	<div class="m960 clearfix">
		<div class="main-hd-v3">
			<div class="hd4"><strong class="hd-bg1">个人品牌的时代正在崛起，从今天起打造您的职业品牌。</strong></div>
		</div>
		<div class="main-bd-v3">
			<div class="eshow-img">
				<img src="/assets/images/eshow.jpg" alt="">
			</div>
		</div>
	</div>
</div>
<div class="main-bg2-v3">
	<div class="m960 clearfix">
		<div class="main-hd-v3">
			<div class="hd4"><strong class="hd-bg2">没有任何方式比职业品牌更能呈现您的价值和影响力。</strong></div>
		</div>
		<div class="main-bd-v3">
			<ul class="eshowlist clearfix">
				<li>
					<h3 title="用简单有效的方式展示自己">用简单有效的方式展示自己</h3>
					<p>您的职业品牌主页，不但有您的形象照片，而且还有丰富的经历和与众不同的职业亮点，全方位展示独特的你。</p>
				</li>
				<li>
					<h3 title="建立职业品牌，成就职业目标">建立职业品牌，成就职业目标</h3>
					<p>展示真实独特的自己，专属定制的机会将垂青于您。</p>
				</li>
				<li style="margin-right:0;">
					<h3 title="诚信的职业品牌让你脱颖而出">诚信的职业品牌让你脱颖而出</h3>
					<p>“人而无信，不知其可也。”诚信是职场最基础的保障，同事、朋友、企业只会乐意为您诚信的品牌作背书。</p>
				</li>
				<li>
					<h3 title="品牌可见度创造机遇">品牌可见度创造机遇</h3>
					<p>您的职业品牌主页，不但有您的形象照片，而且还有丰富的经历和与众不同的职业亮点，全方位展示独特的你。</p>
				</li>
				<li>
					<h3 title="随时随地分享您的在线职业品牌">随时随地分享您的在线职业品牌</h3>
					<p>每一次分享都能推广您的职业品牌，也将给您带来意想不到的事业发展机会。</p>
				</li>
				<li style="margin-right:0;">
					<h3 title="许可制规则杜绝骚扰">许可制规则杜绝骚扰</h3>
					<p>九逸独创的许可制规则，由您主动挑选来自企业、猎头的机会，您不看好的机会将无法骚扰到您。</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="main-bg1-v3" style="border:none;">
	<div class="m960 clearfix">
		<div class="main-hd-v3">
			<div class="hd4"><strong class="hd-bg3">个人品牌的时代正在崛起，从今天起打造您的职业品牌。</strong></div>
		</div>
		<div class="main-bd-v3">
			<ul class="showlist clearfix">
				<li>
					<img src="/assets/images/img1.jpg" alt="">
					<p>你的脸是为了呈现上帝赐给人类最贵重的礼物/微笑，一定要成为你工作最大的资产。</p>
				</li>
				<li>
					<img src="/assets/images/img2.jpg" alt="">
					<p>积极的人在每一次忧患中都看到一个机会，而消极的人则在每个机会都看到某种忧患。</p>
				</li>
				<li style="margin-right: 0;">
					<img src="/assets/images/img3.jpg" alt="">
					<p>伟人之所以伟大，是因为他与别人共处逆境时，别人失去了信心，他却下决心实现自己的目标。
</p>
				</li>
			</ul>
		</div>
	</div>
</div></div>
<div class="public-footer-v3 hidden-phone J_iflogin"  data-status="logout" data-uid="">
  <div class="pub-footer-hd">
    <div class="m960 clearfix">
      <div class="f-oauth">
        <!-- <div class="f-logo"></div> -->
        <div class="f-encode"><img src="http://img.xhanglu.com/app/w/home/i/wx.png" alt=""></div>
        <div class="f-other">扫描二维码关注微信<br/>微博关注<a target="_blank" href="javascript:;"><i></i>@新航路师徒学院</a></div>
      </div>
      <div class="f-line"></div>
      <dl class="f-content">
        <dt>职业品牌</dt>
        <dd>展示真实独特的自己，专属定制的机会将垂青于您！现在就去<a href="javascript:;">个人注册</a></dd>
        <dt style="margin-top:20px">企业招聘</dt>
        <dd>内部推荐、人才商情、云渠道、人才库、云搜索五大功能诚邀您<a href="javascript:;">企业注册</a></dd>
        <!-- <dt>网络猎头</dt>
        <dd>敬请期待</dd> -->
      </dl>
      <div class="f-line"></div>
      <form method="post" class="J_feedback">
      <dl class="f-content f-link">
        <dt>联系我们</dt>
        <dd><i class="loc"></i>北京石景山区中础大厦A座</dd>
        <dd><i class="tel"></i><span>010-57203312</span><i class="email"></i>kf#xhanglu.com(#换成@)</dd>
        <!-- <dd><textarea class="feedbak_name" name="feedbak_name" placeholder="欢迎您为我们产品提出使用感受和建议！"></textarea></dd>
        <dd><input class="input-inp feedbak_link" name="feedbak_link" type="text" placeholder="留下您的email邮箱，便于我们更好的为您服务。" /><input class="input-btn J_submit" type="submit" value="提交"/></dd> -->
      </dl>
      </form>
    </div>
  </div>
  <div class="pub-footer-ft m960">
    <p><span>友情链接：</span><a href="/" title="新航路">首页</a><a href="javascript:;" >关于我们</a><a href="javascript:;">联系我们</a><a href="javascript:;">用户协议</a></p>
    <p>&copy;<span>2016</span><span>xhanglu.cn</span><span>京ICP备16035622号-2</span><span>咨询电话：010-57203312</span></p>
  </div>
</div>
<script>
 seajs.use('eshow/newUser', function(app) {
      app.feedback();
  });
 seajs.use('talent_returntop',function(app){
    app.retrunTop();
 });
</script>
<script type="text/x-tpl" id="T_getCodeTpl">
  <div class="alert-tpl" style="width:644px;">
    <h4 class="h-tit"><a href="javascript:;" class="alert-close J_close" title="关闭"></a>如何获得邀请码？</h4>
    <div class="alert-content">
      <div class="how-get-code-form">
          <form action="">
            <div class="group"><input type="text" name="email" placeholder="请输入邮箱，以便收取邀请码"></div>
            <div class="group"><input type="text" name="position" placeholder="请告诉我们您是做什么的"></div>
            <div class="group"><textarea name="comment" placeholder="聊聊您对个人职业品牌的理解吧"></textarea></div>
            <div class="action">
              <button class="btn J_requestSubmit" type="submit">提交</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</script>

<script>
	seajs.use('global.js',function(app){
		app.init();
	});
</script>
</body>
</html>
